// Setup

@font-face {
    font-family: "Satoshi";
    src: url(Satoshi-Variable.ttf) format("opentype");
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    height: 100%;
}
// Variables
$fg-color: #f3f3f3;
$bg-color: #151515;
// Begin
@keyframes blurOpen {
    from { filter: blur(20px); }
    to { filter: blur(0px); }
}

body {
    // transition: color 1s ease, background-color 1s ease;
    // Font settings
    font-family: "Satoshi", 'Times New Roman', Times, serif;
    font-variant-numeric: tabular-nums;
    font-variation-settings: "wght" 400;
    // letter-spacing: 1px;
    ///////////////
    height: 100%;
    width: 100%;
    position: absolute; 
    padding: 2rem 3rem;
    box-sizing: border-box;
    animation: blurOpen .8s cubic-bezier(0.4, 0, 0.6, 0.95) 0s 1 forwards;
}

.day {
    color: $bg-color;
    background-color: $fg-color;
}

.night {
    color: $fg-color;
    background-color: $bg-color;
    // transition: color 1s ease, background-color 1s ease;
}

.title {
    font-size: 3rem;
    margin: 1.5rem;
}

.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 1.8rem;
    height: 85%;
    margin: 1.5rem;
    justify-content: space-between;
}

.flex-container--left, .flex-container--right {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    width: 47%;
    height: auto; 
}

.row {
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    transition: height .5s ease;
    overflow: hidden;
}

.row__vertical {
    width: 80%;
}

button {
    all: unset;
    cursor: crosshair;
}
// .flex-container--right .row {
//     height: inherit;
// }
ul {
    list-style-type: none;
}

a, a:visited {
    &:hover::before {
        content: "(";
    }
    &:hover::after {
        content: ")";
    }
    text-decoration: none;
    color: inherit;
}

.numeral {
    display: inline-block;
    width: 20%;
    font-size: 1.4rem;
}

.text {
    width: 30rem;
    text-align: justify;
}

.project-content {
    opacity: 0;
    transition: opacity .5s ease;    
}

img {
    user-select: none;
    pointer-events: none;
    margin-top: 1%;
    border-radius: .5vmin;
    // box-shadow: 0px 0px 20px #00000042;
}

.footer {
    font-size: 1.8em;
    display: flex;
    margin: 1.5rem;
    justify-content: space-between;
    bottom: 0;
}

::selection {
    text-shadow: 0px 0px 6px #6F8695;
    color: transparent;
}