* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "Joan";
    src: url(/Joan-Regular.woff2);
}
body {
    background-color: #fdfdfd;
    color: #101010;
    font-family: "Joan";
}

.wrapper {
    margin: 3vh 2vw;
}

.title {
    font-size: 2em;
}
