@charset "UTF-8";
@font-face {
  font-family: "Satoshi";
  src: url(Satoshi-Variable.ttf) format("opentype");
}
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: "Satoshi", Arial, Helvetica, sans-serif;
  font-variant-numeric: tabular-nums;
  font-variation-settings: "wght" 440;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 2rem 3rem;
  box-sizing: border-box;
  -webkit-text-decoration: underline transparent;
          text-decoration: underline transparent;
  text-underline-offset: 2px;
  font-size: 1.3rem;
  line-height: 1.35;
  cursor: default;
  overflow: hidden;
}

.body[data-theme=day] {
  --fg-color-css: #151515;
  --bg-color-css: #f3f3f3;
  color: var(--fg-color-css);
  background-color: var(--bg-color-css);
}

.body[data-theme=night] {
  --fg-color-css: #f3f3f3;
  --bg-color-css: #151515;
  color: var(--fg-color-css);
  background-color: var(--bg-color-css);
}

.name {
  font-size: 1.4rem;
  margin: 1.5rem;
  padding-left: 0.8;
  font-variation-settings: "wght" 440;
  height: 10%;
}

.column-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 105%;
  margin: 2.5rem 1.5rem;
  box-sizing: border-box;
}

.column-one,
.column-two,
.column-three {
  display: flex;
  flex-direction: column;
  width: 27.5%;
  height: auto;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  transition: height 0.13s ease;
  overflow: hidden;
}

.about {
  height: 20%;
}

.row[data-status=neutral] {
  height: 20%;
  cursor: crosshair;
}
.row[data-status=neutral] .title::after {
  content: " (+)";
}
.row[data-status=neutral] .project-content {
  opacity: 0;
  transition: opacity 0.13s ease;
  height: inherit;
}

.row[data-status=collapsed] {
  height: 17.55px;
  cursor: crosshair;
}
.row[data-status=collapsed] .title::after {
  content: " (+)";
}
.row[data-status=collapsed] .project-content {
  opacity: 0;
  transition: opacity 0.13s ease;
  height: inherit;
}

.row[data-status=open] {
  height: calc(60% - 35.1px);
  cursor: crosshair;
}
.row[data-status=open] .title::after {
  content: " (-)";
}
.row[data-status=open] .project-content {
  opacity: 1;
  transition: opacity 0.13s ease;
  height: 95%;
}

.row__vertical {
  width: 80%;
  height: 100%;
}

.numeral {
  display: inline-block;
  width: 20%;
  opacity: 25%;
}

.text {
  width: 80%;
}

.text span:nth-child(1) {
  font-size: 1.68rem;
}

.link {
  height: 16.4px;
  margin-left: 20%;
}

.project-content div {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.project-content div img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  box-sizing: border-box;
  min-width: 100%;
  height: 100%;
}

a, a:visited {
  -webkit-text-decoration: none transparent;
          text-decoration: none transparent;
  color: inherit;
}
a::after, a:visited::after {
  content: " ↗";
}

sup {
  vertical-align: top;
  font-size: 0.95rem;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  border-radius: 1vmin;
}

::-moz-selection {
  text-decoration: underline var(--fg-color-css);
}

::selection {
  -webkit-text-decoration: underline var(--fg-color-css);
          text-decoration: underline var(--fg-color-css);
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .column-container {
    flex-direction: row;
    justify-content: baseline;
    width: 100%;
    margin: 0;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
  }
  .column-one,
.column-two,
.column-three {
    width: 33.33%;
    height: 100%;
    padding: 1rem 1.5rem;
    scroll-snap-align: start;
  }
  body {
    padding: 0;
    width: 300vw;
  }
  .numeral {
    width: 10%;
  }
  .row__vertical {
    width: 90%;
  }
  .text {
    width: 90%;
  }
  .link {
    margin-left: 10%;
  }
}/*# sourceMappingURL=style.css.map */